.checkout-text {
    font-size: 48px;
    text-align: center;
}

.no-items {
    color: red;
    font-size: 64px;
}

li.items, .total {
    list-style-type: none;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
}
.price-color {
    color: rgb(82, 181, 11);
}
.line {
    border-bottom: 1px solid black;
    margin-left: 200px;
    margin-right: 200px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.proceed {
    grid-column: 1 / 1;
    grid-row: 3 / 3;
    width: 96px;
    justify-self: center;
    background-color: green;
    color: white;
    border-radius: 12px;

}
.empty-cart {
    grid-column: 3 / 3;
    grid-row: 3 / 3;
    width: 96px;
    justify-self: center;
    background-color: red;
    color: white;
    border-radius: 12px;
}